<div class="card-group">
<% @gossips.each do |gossip|  %>
  <div class="card.px-1" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= gossip.author %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= gossip.created_at.to_date %></h6>
      <p class="card-text"><%= gossip.content %></p>
      <%= link_to "Details", gossip_path(gossip.id), class: "card-link" %>
    </div>
  </div>
<% end %>
</div>
